<div class="QA_table ">
    <!-- table-responsive -->
    <table class="table lms_table_active2">
        <thead>
            <tr>
                <th scope="col">Patients Name</th>
                <th scope="col">department</th>
                <th scope="col">Intern Date</th>
                <th scope="col">Serial Number</th>
                <th scope="col">Amount</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">
                    <div class="patient_thumb d-flex align-items-center">
                        <div class="student_list_img mr_20">
                            <img src="{{ url_for('static', filename='images/pataint.png')}}" alt="" srcset="">
                        </div>
                        <p>Jhon Kural</p>
                    </div>
                </th>
                <td>Monte Carlo</td>
                <td>11/03/2020</td>
                <td>MDC65454</td>
                <td>
                    <div class="amoutn_action d-flex align-items-center">
                        $29,192
                        <div class="dropdown ml-4">
                            <a class=" dropdown-toggle hide_pils" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-ellipsis-v"></i>
                            </a>
                          
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                              <a class="dropdown-item" href="#">View</a>
                              <a class="dropdown-item" href="#">Edit</a>
                              <a class="dropdown-item" href="#">Delete</a>
                            </div>
                          </div>
                    </div> </td>
            </tr>
            <tr>
                <th scope="row">
                    <div class="patient_thumb d-flex align-items-center">
                        <div class="student_list_img mr_20">
                            <img src="{{ url_for('static', filename='images/2.png')}}" alt="" srcset="">
                        </div>
                        <p>Jhon Kural</p>
                    </div>
                </th>
                <td>Monte Carlo</td>
                <td>11/03/2020</td>
                <td>MDC65454</td>
                <td>
                    <div class="amoutn_action d-flex align-items-center">
                        $29,192
                        <div class="dropdown ml-4">
                            <a class=" dropdown-toggle hide_pils" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-ellipsis-v"></i>
                            </a>
                          
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                              <a class="dropdown-item" href="#">View</a>
                              <a class="dropdown-item" href="#">Edit</a>
                              <a class="dropdown-item" href="#">Delete</a>
                            </div>
                          </div>
                    </div> </td>
            </tr>
            <tr>
                <th scope="row">
                    <div class="patient_thumb d-flex align-items-center">
                        <div class="student_list_img mr_20">
                            <img src="{{ url_for('static', filename='images/3.png')}}" alt="" srcset="">
                        </div>
                        <p>Jhon Kural</p>
                    </div>
                </th>
                <td>Monte Carlo</td>
                <td>11/03/2020</td>
                <td>MDC65454</td>
                <td>
                    <div class="amoutn_action d-flex align-items-center">
                        $29,192
                        <div class="dropdown ml-4">
                            <a class=" dropdown-toggle hide_pils" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-ellipsis-v"></i>
                            </a>
                          
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                              <a class="dropdown-item" href="#">View</a>
                              <a class="dropdown-item" href="#">Edit</a>
                              <a class="dropdown-item" href="#">Delete</a>
                            </div>
                          </div>
                    </div> </td>
            </tr>
            <tr>
                <th scope="row">
                    <div class="patient_thumb d-flex align-items-center">
                        <div class="student_list_img mr_20">
                            <img src="{{ url_for('static', filename='images/4.png')}}" alt="" srcset="">
                        </div>
                        <p>Jhon Kural</p>
                    </div>
                </th>
                <td>Monte Carlo</td>
                <td>11/03/2020</td>
                <td>MDC65454</td>
                <td>
                    <div class="amoutn_action d-flex align-items-center">
                        $29,192
                        <div class="dropdown ml-4">
                            <a class=" dropdown-toggle hide_pils" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-ellipsis-v"></i>
                            </a>
                          
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                              <a class="dropdown-item" href="#">View</a>
                              <a class="dropdown-item" href="#">Edit</a>
                              <a class="dropdown-item" href="#">Delete</a>
                            </div>
                          </div>
                    </div> </td>
            </tr>
            <tr>
                <th scope="row">
                    <div class="patient_thumb d-flex align-items-center">
                        <div class="student_list_img mr_20">
                            <img src="{{ url_for('static', filename='images/5.png')}}" alt="" srcset="">
                        </div>
                        <p>Jhon Kural</p>
                    </div>
                </th>
                <td>Monte Carlo</td>
                <td>11/03/2020</td>
                <td>MDC65454</td>
                <td>
                    <div class="amoutn_action d-flex align-items-center">
                        $29,192
                        <div class="dropdown ml-4">
                            <a class=" dropdown-toggle hide_pils" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-ellipsis-v"></i>
                            </a>
                          
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                              <a class="dropdown-item" href="#">View</a>
                              <a class="dropdown-item" href="#">Edit</a>
                              <a class="dropdown-item" href="#">Delete</a>
                            </div>
                          </div>
                    </div> </td>
            </tr>
            <tr>
                <th scope="row">
                    <div class="patient_thumb d-flex align-items-center">
                        <div class="student_list_img mr_20">
                            <img src="{{ url_for('static', filename='images/6.png')}}" alt="" srcset="">
                        </div>
                        <p>Jhon Kural</p>
                    </div>
                </th>
                <td>Monte Carlo</td>
                <td>11/03/2020</td>
                <td>MDC65454</td>
                <td>
                    <div class="amoutn_action d-flex align-items-center">
                        $29,192
                        <div class="dropdown ml-4">
                            <a class=" dropdown-toggle hide_pils" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-ellipsis-v"></i>
                            </a>
                          
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                              <a class="dropdown-item" href="#">View</a>
                              <a class="dropdown-item" href="#">Edit</a>
                              <a class="dropdown-item" href="#">Delete</a>
                            </div>
                          </div>
                    </div> </td>
            </tr>
            <tr>
                <th scope="row">
                    <div class="patient_thumb d-flex align-items-center">
                        <div class="student_list_img mr_20">
                            <img src="{{ url_for('static', filename='images/6.png')}}" alt="" srcset="">
                        </div>
                        <p>Jhon Kural</p>
                    </div>
                </th>
                <td>Monte Carlo</td>
                <td>11/03/2020</td>
                <td>MDC65454</td>
                <td>
                    <div class="amoutn_action d-flex align-items-center">
                        $29,192
                        <div class="dropdown ml-4">
                            <a class=" dropdown-toggle hide_pils" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-ellipsis-v"></i>
                            </a>
                          
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                              <a class="dropdown-item" href="#">View</a>
                              <a class="dropdown-item" href="#">Edit</a>
                              <a class="dropdown-item" href="#">Delete</a>
                            </div>
                          </div>
                    </div> </td>
            </tr>
        </tbody>
    </table>
</div>