{%extends "layout.html"%} {%block content%}
<form method="POST">
    <div class="form-group">
<label for="cashier">Cashier</label>
<select class="default_sel mb_30 w-100" style="display: none;" id='tcashier' name='cashier'>
    <option data-display="Select">Nothing</option>

    {% for j in range(cashier|length) %}
    <option value={{cashier.id_cashier[j]}}>{{cashier.name[j]}} {{cashier.surname[j]}}</option>
    {% endfor %}
</select>
<div class="nice-select default_sel mb_30 w-100" tabindex="0"><span class="current">Select</span>
    <div class="nice-select-search-box"><input type="text" class="nice-select-search" placeholder="Search..."></div>
    <ul class="list">
        <li data-value="Nothing" data-display="Select" class="option selected focus" style="">Nothing</li>

        {% for j in range(cashier|length) %}
        <li data-value={{cashier.id_cashier[j]}} class="option" style="">{{cashier.name[j]}} {{cashier.surname[j]}}</li>
        {% endfor %}
    </ul>
</div><br>

<label for="product">Product</label>
<select class="default_sel mb_30 w-100" style="display: none;" id='product' name='product'>
    <option data-display="Select">Nothing</option>

    {% for j in range(pharmacy|length) %}
    <option value={{pharmacy.id_product[j]}}>{{pharmacy.name[j]}}</option>
    {% endfor %}
</select>
<div class="nice-select default_sel mb_30 w-100" tabindex="0"><span class="current">Select</span>
    <div class="nice-select-search-box"><input type="text" class="nice-select-search" placeholder="Search..."></div>
    <ul class="list">
        <li data-value="Nothing" data-display="Select" class="option selected focus" style="">Nothing</li>

        {% for j in range(pharmacy|length) %}
        <li data-value={{pharmacy.id_product[j]}} class="option" style="">{{pharmacy.name[j]}}</li>
        {% endfor %}
    </ul>
</div><br>

{% include 'includes/_input_select.html'%}

<label for="amount">Amount</label>
<input type="number" id="amount" name="amount" min="0" , step=".01" value='1'>

</div>
<p><input type=submit value=Add class="btn_1">
</form>
{%endblock content%}