{%extends "layout.html"%} {%block content%}
<form method="POST">
    <div class="form-group">

      <label for="fname">First name:</label><br>
      <input type="text" class="form-control" id="fname" name="fname"><br>
      <label for="lname" >Last name:</label><br>
      <input type="text" class="form-control" id="lname" name="lname"><br>
    
      <label for="type">Type</label>
      <select class="form-control" id="type" name='type'>
        <option>P</option>
        <option>S</option>
        <option>C</option>
      </select><br>

      <label for="phone">Phone Number:</label>
      <input type="number" class="form-control" id="phone" name="phone"><br>
      <label for="pobox">PO Box:</label><br>
      <input type="text" class="form-control" id="pobox" name="pobox"><br>
      <label for="adresse">Adresse:</label>
      <input type="text" class="form-control" id="adresse" name="adresse"><br>
      <label for="email">Email address</label>
      <input type="email" class="form-control" id="email"name='email' placeholder="name@example.com">
    </div>
    <p><input type=submit value=Add>
  </form>


{%endblock content%}