{%extends "layout.html"%} {%block content%}
<form method="POST">
    <div class="form-group">

        <label for="name">Product Name:</label><br>
        <input type="text" class="form-control" id="pharmname" name="name"><br>
        <label for="price">Price</label>
        <input type="number" id="price" name="price" min="0", step=".01">
        <label for="stock">Stock:</label>
        <input type="number" id="stock" name="stock">

    </div>
    <p><input type=submit value=Add class="btn_1">
</form>


{%endblock content%}