<label for="person">Person</label>
    <select class="default_sel mb_30 w-100" style="display: none;" id='person' name = 'person'>
        <option data-display="Select">Nothing</option>

        {% for j in range(person|length) %}
        <option value={{person.id_person[j]}}>{{person.name[j]}} {{person.surname[j]}}</option>
        {% endfor %}
    </select>
    <div class="nice-select default_sel mb_30 w-100" tabindex="0"><span class="current">Select</span>
        <div class="nice-select-search-box"><input type="text" class="nice-select-search" placeholder="Search..."></div>
        <ul class="list">
            <li data-value="Nothing" data-display="Select" class="option selected focus" style="">Nothing</li>
            
            {% for j in range(person|length) %}
            <li data-value={{person.id_person[j]}} class="option" style="">{{person.name[j]}} {{person.surname[j]}}</li>
            {% endfor %}
        </ul>
    </div><br>


